/HW1/HW1.X/nbproject/private/
/HW1/HW1.X/build/default/
/HW1/HW1.X/dist/default/
/HW4/HW4.X/nbproject/private/
/HW4/HW4.X/build/default/
/HW4/HW4.X/dist/default/
/HW5/HW5.X/nbproject/private/
/HW5/HW5.X/build/default/
/HW5/HW5.X/dist/default/
/HW04b/HW4.X/nbproject/private/
/HW04b/HW4.X/build/default/
/HW04b/HW4.X/dist/default/
/HW05/HW5.X/nbproject/private/
/HW04b/HW6.X/nbproject/private/
/HW 15/cdc_serial_emulator hw14/firmware/cdc_serial_emulator.X/build/pic32mx795_pim_e16_int_dyn/
/HW 15/cdc_serial_emulator hw14/firmware/cdc_serial_emulator.X/dist/pic32mx795_pim_e16_int_dyn/
/HW 15/cdc_serial_emulator hw14/firmware/cdc_serial_emulator.X/nbproject/private/